body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8f7; /* 浅绿色 */
}

header {
    background-color: #008000; /* 深绿色 */
    color: #fff; /* 白色文字 */
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #008000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.expert {
    margin-bottom: 20px;
}

.expert img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}
